---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% if post.external_url %}
      <li class="external">
        {% include post_meta.html %}
        <h2>
          <a class="post-link" href="{{ post.external_url }}" target="_blank">
            {{ post.title }}
            <i class="fa fa-external-link"></i>
          </a>
        </h2>
        <div class="excerpt">
          {{ post.excerpt | markdownify }}
        </div>
      {% else %}
      <li class="{{ post.category | first }}">
        {% include post_meta.html %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="excerpt">
          {{ post.excerpt | markdownify }}
          <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading &raquo;</a>
        </div>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

  <!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'mmhan';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>